# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    env.template                                       :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: gtoubol <marvin@42.fr>                     +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2022/12/15 16:13:18 by gtoubol           #+#    #+#              #
#    Updated: 2022/12/15 16:13:18 by gtoubol          ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

# Backend properties
TR_BACK_SRCS = "path to project root"/srcs/srcs_backend

# Authentification
API_UID = api uid
API_SECRET = api secret


# Postgress:
POSTGRES_USER = db user
POSTGRES_PASSWORD = db password
PGDATA = /var/lib/postgresql/data/pgdata

# to generate key:
# openssl rand -base64 128 | tr "=+/\n" | cut -c1-128
