# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .env                                               :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: jcalon <jcalon@student.42.fr>              +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2022/12/15 16:13:18 by gtoubol           #+#    #+#              #
#    Updated: 2023/02/23 12:42:47 by iouali           ###   ########.fr        #
#                                                                              #
# **************************************************************************** #
DOMAIN =
FRONT_DOMAIN =
DOMAIN_NAME = 
INTRA_OAUTH = https://api.intra.42.fr/oauth/

# Volumes list
TR_FRONT_SRCS = path/frontend
TR_BACK_SRCS = path/backend

# Authentification
API_UID = 
API_SECRET =
JWT_SECRET =
JWT_EXPIRESIN = '3600s'

# Postgress:
POSTGRES_USER = dbuser
POSTGRES_PASSWORD = dbpassword
PGDATA = /var/lib/postgresql/data/pgdata

# to generate key:
# openssl rand -base64 128 | tr -d "=+/\n" | cut -c1-128%           
